*{
margin:0;
}
body {
  margin: 0;
  background-color: aliceblue;
  font-family:arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color:rgb(0, 119, 255);
    
}
